@font-face {
  font-family: Stuart;
  font-weight: 1 999;
  src: url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuart-VF-Web-Subset.woff2") format("woff2-variations"), url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuart-VF-Web-Subset.woff2") format("woff2"); }
@font-face {
  font-family: Stuart;
  font-weight: 1 999;
  font-style: italic;
  src: url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuartWebItalics-VF-Web-Subset.woff2") format("woff2-variations"), url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuartWebItalics-VF-Web-Subset.woff2") format("woff2"); }
@font-face {
  font-family: Graphik;
  font-weight: 1 999;
  src: url("//www.rei.com/satchel/media/font-optimized/Graphik/Graphik-VF-Web-Subset.woff2") format("woff2-variations"), url("//www.rei.com/satchel/media/font-optimized/Graphik/Graphik-VF-Web-Subset.woff2") format("woff2"); }
@font-face {
  font-family: Graphik;
  font-weight: 1 999;
  font-style: italic;
  src: url("//www.rei.com/satchel/media/font-optimized/Graphik/GraphikWebItalic-VF-Web-Subset.woff2") format("woff2-variations"), url("//www.rei.com/satchel/media/font-optimized/Graphik/GraphikWebItalic-VF-Web-Subset.woff2") format("woff2"); }

#reviews {
  padding: 0 65px;
  font-family: Graphik, sans-serif;
  color: rgb(36, 36, 36);
}

#reviewsHeader {
  font-weight: 420;
  font-size: 22px;
  font-family: Stuart, serif;
}

#writeReview {
  font-family: "Roboto","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 15px;
  font-weight: 550;
  padding: 12px 15px;
  border: 1px solid #446e91;
  border-top: 1.5px solid #6a90aa;
  border-radius: 2px;
  background-color:	#446e91;
  color: #fdfdfe;
  cursor: pointer;
  float: right;
  display: block;
}

#writeReview:hover {
  color: #fff;
  background-color: #2B455C;
  border-color: #2B455C;
}

.overallRatingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 65px;
}

.loadMore-container {
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loadMore {
  margin: 20px 0;
  margin-bottom: 40px;
  padding: 7px 130px;
  background-color: #EEEEEE;
  color: #222;
}

#loadMore:hover {
  cursor: pointer;
  box-shadow: inset 0px 0px 3px 3px #ddd;
}

.firstReview {
  font-size: 14px;
}

.firstReviewComment:hover {
  cursor: pointer;
  text-decoration: underline;
}
