.averageRating-container {
  font-family: "Roboto","Helvetica Neue","Helvetica","Arial",sans-serif;
  min-width: 200px;
  margin-right: 105px;
  /* display: flex;
  flex-direction: column; */
}

.averageRating-header {
  font-family: Graphik, sans-serif;
  padding-bottom: 15px;
}

.averageScore-container {
  display: flex;
  align-items: center;
  max-width: 400px;
  min-width: 325px;
  margin-bottom: 20px;
}
.starRating-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.starRatingTitle {
  width: 118px;
  margin-right: 20px;
  font-size: 15px;
}

.starRating {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: rgba(187, 187, 187, 0.795);
  overflow: hidden;
  margin-right: 4px;
}

.full-stars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #2B6691;
}
.empty-stars:before, .full-stars:before {
  content:"\2605\2605\2605\2605\2605";
  font-size: 14pt;
}

.averageRatingTitle {
  width: 55%;
  margin-right: 20px;
  font-size: 14px;
}

.averageBar {
  flex: 1;
  width: 150px;
  height: 9px;
  position: relative;
  border: 1px solid #cccccc;
  vertical-align: middle;
  background: #fff;
  margin-bottom: 5px;
}

.overallRatingScore {
  /* flex: 1; */
  text-align: center;
  width: 200px;
}

.large-text {
  transform: translate(0%, 10%);
}